<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.easybuy_productMapper">
  <resultMap id="BaseResultMap" type="pojo.easybuy_product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="categoryLevel1Id" jdbcType="INTEGER" property="categoryLevel1Id" />
    <result column="categoryLevel2Id" jdbcType="INTEGER" property="categoryLevel2Id" />
    <result column="categoryLevel3Id" jdbcType="INTEGER" property="categoryLevel3Id" />
    <result column="fileName" jdbcType="VARCHAR" property="fileName" />
    <result column="isDelete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, price, stock, categoryLevel1Id, categoryLevel2Id, categoryLevel3Id, 
    fileName, isDelete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from easybuy_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from easybuy_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.easybuy_product">
    insert into easybuy_product (id, name, description, 
      price, stock, categoryLevel1Id, 
      categoryLevel2Id, categoryLevel3Id, fileName, 
      isDelete)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{stock,jdbcType=INTEGER}, #{categoryLevel1Id,jdbcType=INTEGER}, 
      #{categoryLevel2Id,jdbcType=INTEGER}, #{categoryLevel3Id,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.easybuy_product">
    insert into easybuy_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="categoryLevel1Id != null">
        categoryLevel1Id,
      </if>
      <if test="categoryLevel2Id != null">
        categoryLevel2Id,
      </if>
      <if test="categoryLevel3Id != null">
        categoryLevel3Id,
      </if>
      <if test="fileName != null">
        fileName,
      </if>
      <if test="isDelete != null">
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel1Id != null">
        #{categoryLevel1Id,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel2Id != null">
        #{categoryLevel2Id,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel3Id != null">
        #{categoryLevel3Id,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.easybuy_product">
    update easybuy_product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel1Id != null">
        categoryLevel1Id = #{categoryLevel1Id,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel2Id != null">
        categoryLevel2Id = #{categoryLevel2Id,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel3Id != null">
        categoryLevel3Id = #{categoryLevel3Id,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        fileName = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        isDelete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.easybuy_product">
    update easybuy_product
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      stock = #{stock,jdbcType=INTEGER},
      categoryLevel1Id = #{categoryLevel1Id,jdbcType=INTEGER},
      categoryLevel2Id = #{categoryLevel2Id,jdbcType=INTEGER},
      categoryLevel3Id = #{categoryLevel3Id,jdbcType=INTEGER},
      fileName = #{fileName,jdbcType=VARCHAR},
      isDelete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>