<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrderMapper">
  <resultMap id="BaseResultMap" type="pojo.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="loginName" jdbcType="VARCHAR" property="loginName" />
    <result column="addressId" jdbcType="INTEGER" property="addressId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cost" jdbcType="REAL" property="cost" />
    <result column="serialNumber" jdbcType="VARCHAR" property="serialNumber" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <!--一个订单项对多商品-->
    <collection property="detailList" ofType="pojo.Order_Detail">
      <id column="detail_id" property="id"/>
      <result column="detail_orderId" property="orderId"/>
      <result column="detail_productId" property="productId"/>
      <result column="detail_quantity" property="quantity"/>
      <result column="detail_cost" property="cost"/>
    </collection>
    <collection property="user_Address" ofType="user_Address">
      <id column="id" jdbcType="INTEGER" property="id"/>
      <result column="userId" jdbcType="INTEGER" property="userId"/>
      <result column="name" jdbcType="VARCHAR" property="name"/>
      <result column="address" jdbcType="VARCHAR" property="address"/>
      <result column="fullAddress" jdbcType="VARCHAR" property="fullAddress"/>
      <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, loginName, addressId, createTime, cost, serialNumber, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    a.*, b.*
    from easybuy_order a
    inner join easybuy_user_address b
    on a.addressId=b.id
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from easybuy_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Order">
    insert into easybuy_order (id, userId, loginName, 
      addressId, createTime, cost,
      serialNumber, state)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR},
      #{addressId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{cost,jdbcType=REAL},
      #{serialNumber,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Order" keyProperty="id" useGeneratedKeys="true">
    insert into easybuy_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="loginName != null">
        loginName,
      </if>
      <if test="addressId != null">
        addressId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="serialNumber != null">
        serialNumber,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=REAL},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Order">
    update easybuy_order
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="loginName != null">
        loginName = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        addressId = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=REAL},
      </if>
      <if test="serialNumber != null">
        serialNumber = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Order">
    update easybuy_order
    set userId = #{userId,jdbcType=INTEGER},
      loginName = #{loginName,jdbcType=VARCHAR},
      addressId = #{addressId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      cost = #{cost,jdbcType=REAL},
      serialNumber = #{serialNumber,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据userId查询订单数量-->
  <select id="selectOrderCount" resultType="int" parameterType="java.lang.Integer">
    select count(1) from easybuy_order
    <where>
      userId = #{userId}
      <if test="state!=null">
        and state=#{state}
      </if>
    </where>
  </select>

  <!--根据userId分页查询所有订单-->
  <select id="selectOrderLimit" resultType="Order" parameterType="Map">
    select  * from easybuy_order
    <where>
      userId = #{userId}
      <if test="state!=null">
        and state=#{state}
      </if>
    </where>
    limit #{pageStart},#{pageSize}
  </select>

  <!--查询订单数量（管理员）-->
  <select id="selectOrderCount2" resultType="int">
    select count(1) from easybuy_order
    <where>
      <if test="state!=null">
        state=#{state}
      </if>
    </where>
  </select>

  <!--分页查询所有订单（管理员）-->
  <select id="selectOrderLimit2" resultType="Order" parameterType="Map">
    select  * from easybuy_order
    <where>
      <if test="state!=null">
        state=#{state}
      </if>
    </where>
    limit #{pageStart},#{pageSize}
  </select>

  <!--  根据id查订单状态-->
  <select id="selectOrderStateCountById" resultType="Integer">
    select count(1) from easybuy_order where userId = #{userId} and state =#{state}
  </select>
</mapper>