<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.Product_CategoryMapper">
    <resultMap id="BaseResultMap" type="pojo.Product_Category">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parentId" jdbcType="INTEGER" property="parentId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="iconClass" jdbcType="VARCHAR" property="iconClass" />
        <association property="product" javaType="pojo.Product">
            <id column="product_id" property="id"/>
            <result column="product_name" property="name"/>
            <result column="product_price" property="price"/>
            <result column="product_fileName" property="fileName"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, parentId, type, iconClass
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from easybuy_product_category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from easybuy_product_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="pojo.Product_Category">
    insert into easybuy_product_category (id, name, parentId, 
      type, iconClass)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{iconClass,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="pojo.Product_Category">
        insert into easybuy_product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="iconClass != null">
                iconClass,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="iconClass != null">
                #{iconClass,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="pojo.Product_Category">
        update easybuy_product_category
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parentId = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="iconClass != null">
                iconClass = #{iconClass,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="pojo.Product_Category">
    update easybuy_product_category
    set name = #{name,jdbcType=VARCHAR},
      parentId = #{parentId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      iconClass = #{iconClass,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!--  分类查询-->
    <select id="type" resultType="product_Category">
    select * from easybuy_product_category where type=#{type}
  </select>
    <select id="typeSon" resultType="product_Category">
    select * from easybuy_product_category where parentId=#{parentId}
  </select>

    <!--根据品牌id查询所有该品牌的商品（品牌为3级）-->
    <select id="selectCategoryByid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT product.id as product_id,product.name as product_name,product.price as product_price,product.fileName as product_fileName
    FROM easybuy_product_category AS category
    JOIN easybuy_product AS product
    WHERE product.categoryLevel3Id = category.id AND product.categoryLevel3Id = #{id}
    LIMIT #{shuliang}
  </select>

    <!--  3级id查1级id-->
    <select id="oneByThree" resultType="Integer">
    SELECT c.id FROM easybuy_product_category a,easybuy_product_category b,easybuy_product_category c
    WHERE a.id=#{id} AND a.`parentId` =b. id AND b.`parentId`=c.id
  </select>

    <!--查询所有一级分类-->
    <select id="selectAllOneId" resultMap="BaseResultMap">
    SELECT * FROM easybuy_product_category WHERE TYPE = 1
  </select>

    <!--根据一级id查询所有三级分类-->
    <select id="selectAllTwoIdByOneId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM easybuy_product_category
    WHERE parentId IN (
      SELECT id FROM easybuy_product_category WHERE parentId = #{id}
    )
  </select>

    <!-- 查询三级分类 -->
    <resultMap type="Product_Category" id="categoryResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="type" column="type"/>
        <result property="iconClass" column="iconClass"/>
        <collection property="childList" ofType="Product_Category" resultMap="categoryResult2"/>
    </resultMap>
    <resultMap type="Product_Category" id="categoryResult2">
        <id property="id" column="id2"/>
        <result property="name" column="name2"/>
        <result property="parentId" column="parentId2"/>
        <result property="type" column="type2"/>
        <result property="iconClass" column="iconClass2"/>
        <collection property="childList" ofType="Product_Category" resultMap="categoryResult3"/>
    </resultMap>
    <resultMap type="Product_Category" id="categoryResult3">
        <id property="id" column="id3"/>
        <result property="name" column="name3"/>
        <result property="parentId" column="parentId3"/>
        <result property="type" column="type3"/>
        <result property="iconClass" column="iconClass3"/>
    </resultMap>
    <!-- 查询商品分类 -->
    <select id="selectByType"  resultMap="categoryResult">
    SELECT a.`id`,a.`name`,a.`parentId`,a.`type`,a.`iconClass`,
		b.`id` id2,b.`name` name2,b.`parentId` parentId2,b.`type` type2,b.`iconClass` iconClass2,
        c.`id` id3,c.`name` name3,c.`parentId` parentId3,c.`type` type3,c.`iconClass` iconClass3
        FROM easybuy_product_category a
        JOIN easybuy_product_category b ON a.`type`=1 AND a.`id`=b.`parentId`
        JOIN easybuy_product_category c ON b.`type`=2 AND b.`id`=c.`parentId`
  </select>

    <!-- 根据父类id查询三级分类 -->
    <select id="selectByPid" resultType="product_category">
    SELECT * FROM easybuy_product_category WHERE parentId=#{pid}
  </select>
</mapper>