<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.User_AddressMapper">
    <resultMap id="BaseResultMap" type="pojo.User_Address">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="fullAddress" jdbcType="VARCHAR" property="fullAddress"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="isDefault" jdbcType="INTEGER" property="isDefault"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userId, name, address, fullAddress, phone, isDefault, remark
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from easybuy_user_address
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from easybuy_user_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="pojo.User_Address">
    insert into easybuy_user_address (id, userId, name,
      address, fullAddress, phone,
      isDefault, remark)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{fullAddress,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{isDefault,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="pojo.User_Address" keyProperty="id" useGeneratedKeys="true">
        insert into easybuy_user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="fullAddress != null">
                fullAddress,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="isDefault != null">
                isDefault,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="fullAddress != null">
                #{fullAddress,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="pojo.User_Address">
        update easybuy_user_address
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="fullAddress != null">
                fullAddress = #{fullAddress,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                isDefault = #{isDefault,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="pojo.User_Address">
    update easybuy_user_address
    set userId = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      fullAddress = #{fullAddress,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      isDefault = #{isDefault,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!--  用户列表-->
    <select id="addressList" resultType="user_Address">
    select * from easybuy_user_address where userId=#{userId}
  </select>
    <!--    修改默认地址-->
    <update id="updateDefault" parameterType="user_Address">
    UPDATE easybuy_user_address a,easybuy_user_address b SET a.isDefault = 0,b.isDefault = 1
    WHERE a.userid=#{userId} AND a.id != #{id,jdbcType=INTEGER} AND b.id = #{id,jdbcType=INTEGER}
  </update>
</mapper>